<div>

    <h2>New Folder</h2>
    <%=form_for @folder, url: "/users/:user_id/folders", method: 'post' do |f|%>
        <%=f.label :name, "Folder Name" %>
        <%=f.text_field :name%>
        <%= f.hidden_field :user_id, :value => @user.id%>
        <%=f.submit 'Create'%>
    <%end%>

</div>