<ul class="nav nav-tabs">
  <li class="active"><%= link_to('Signup', new_user_path)%></li>
  <li><%= link_to('Sign in', login_path)%></li>
</ul>

<div class='container'>
    
    <div class='jumbotron'>
        <h1>FILECLOUD</h1>
        <img class='img-thumbnail' src='https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' alt='cloudCity'>
        
        <h3>Sign up</h3>
        <%=form_for @user do |f|%>
            <div class='form-group'>
                <%=f.label :name, "Enter Your Name"%>
                <%=f.text_field :name, class: 'form-control'%>
            </div>
            <div class='form-group'>
                <%=f.label :password, "Enter Your Password"%>
                <%=f.text_field :password, class: 'form-control' %>
            </div>
            <%=f.submit 'Create User', class: "btn btn-default"%>
        <%end%>
        
    </div>
</div>